/* -----------IMPORTS --------------*/
@import '/styles/colorsVariables.scss';
@import '/styles/reset.scss';
@import '/styles/responsive.scss';
@import '/styles/globalClasses.scss';
/* -----------GENERAL LAYOUT ON ALL PAGES --------------*/

body {
  background-color: $main-color-dark;
  color: $light-color-white;
  font-family: var(--font-rounded-elegance);
  border: 2px solid pink;
}

a:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
button {
  background: transparent;
}
.mainWrapper {
  border: 3px solid $third-color-darker;
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 1250px;
  font-family: var(--font-rounded-elegance);
  /* To fix menu at left size */
  margin: 0 auto;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

@media #{$laptop-up} {
  main {
    margin-right: -5%;
  }
}

.main {
  font-family: var(--font-rounded-elegance);
  font-family: var(--font-rounded-elegance);
  max-width: 750px;
  align-self: center;
  // margin-right: -100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoHome {
  @extend .logo;
  font-size: 3rem;
}
// For accessibility purpose (only for assistance technology)
.sr-only {
  position: fixed;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

img {
  fill: white;
}
