/* HEADER : title and add buttons to add memos */
@import '/styles/colorsVariables.scss';
@import '/styles/mixins.scss';

.boardHeader {
  height: 15%;
}
.boardHeader header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.boardHeader h1 {
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--font-tondu);
  color: $second-color-lighter;
  padding: 1rem;
}
.plusButtonOnBoard {
  font-size: 1rem;
  margin: 1rem;
}

.plusButtonOnBoard button:hover {
  cursor: pointer;
}

.addMemo2 {
  @include plusButton;
  border-color: $memo-2;
  color: $memo-2;
  /* background-color: red; */
}
.addMemo1 {
  @include plusButton;
  border-color: $memo-1;
  color: $memo-1;
}
.addMemo3 {
  @include plusButton;
  border-color: $memo-3;
  color: $memo-3;
}
/* BOARD AREA : existing memod znd possibility to handle them */
.boardarea {
  min-width: 200px;
  padding-top: 2rem;
  width: 85%;
  margin: auto;
  border-radius: 1.5rem;
}

.memosList {
  display: flex;
  flex-wrap: wrap;
}
