/* HEADER : title and add buttons to add memos */
@import '/styles/colorsVariables.scss';
@import '/styles/globalClasses.scss';
.main {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.boardHeader {
  height: 15%;
}
.boardHeader header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.boardHeader h1 {
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--font-tondu);
  color: $second-color-lighter;
  padding: 1rem;
}

.boardBurger {
  border: 2px solid red;
  position: fixed;
  right: 2px;
  top: 0;
  border: 1px solid white;
  border: 0;
}

/* BOARD AREA : existing memod znd possibility to handle them */
.boardarea {
  min-width: 200px;
  padding-top: 2rem;
  width: 85%;
  margin: auto;
  border-radius: 1.5rem;
}

.memosList {
  display: flex;
  flex-wrap: wrap;
}
