/* HEADER : title and add buttons to add memos */

.boardHeader {
  height: 15%;
}
.boardHeader header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.boardHeader h1 {
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--font-tondu);
  color: hsl(64, 82%, 72%);
  padding: 1rem;
}
.plusButtonOnBoard {
  font-size: 1rem;
  margin: 1rem;
}

.addMemo2 {
  border-color: hsl(1, 99%, 74%);
  color: hsl(1, 99%, 74%);
  /* background-color: red; */
}
.addMemo1 {
  border-color: hsl(191, 51%, 54%);
  color: hsl(191, 51%, 54%);
}
.addMemo3 {
  border-color: hsl(64, 82%, 72%);
  color: hsl(64, 82%, 72%);
}
/* BOARD AREA : existing memod znd possibility to handle them */
.boardarea {
  min-width: 200px;
  padding-top: 2rem;
  width: 85%;
  margin: auto;
  border-radius: 1.5rem;
}

.memosList {
  display: flex;
  flex-wrap: wrap;
}
