@import '/styles/colorsVariables.scss';
@import '/styles/responsive.scss';

.burgernav {
  position: fixed;
  right: 2px;
  border: 1px solid white;
  border: 0;
  top: 2px;
}

.burgernav button {
  color: white;
  padding: 0 1rem;
  font-size: 2.4rem;
  border: 0;
}

.burgerHidden {
  display: none;
}
.burgerOpen {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 0 3rem 3rem;
  background-color: $menu-color-dark;
}

.burgernav ul {
  padding: 0.5rem;
  list-style-type: none;
}
.burgernav li {
  color: $light-color-white;
}

.burgernav img {
  margin-right: 0.3rem;
}

.burgernav a:hover {
  width: 100%;
  border: 1px solid white;
  color: white;
  background-color: $lighter-color-dark;
}
.burgernav a,
.burgernav span {
  color: $light-color-white;
  color: white;
  width: 100%;
  display: flex;
  padding: 0.5rem;
}
.burgernav span {
  font-weight: bold;
}
.activeLink {
  font-weight: bold;
  border: 1px solid white;
  background-color: $lighter-color-dark;
}

@media #{$laptop-up} {
  .burgernav {
    display: none;
  }
}
