/* -----------RESET STYLES --------------*/
/* Reset styles from https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* -----------COLOR THEME --------------*/
:root {
  --main-color-dark: hsl(223, 8%, 18%);
  --second-color-lighter: hsl(64, 82%, 72%);
  --third-color-darker: hsl(249, 64%, 56%);
  --light-color-white: hsl(0, 0%, 100%);
}

/* -----------GENERAL LAYOUT ON ALL PAGES --------------*/

body {
  background-color: var(--main-color-dark);
  color: var(--light-color-white);
  font-family: var(--font-rounded-elegance);
  border: 10px solid var(--second-color-lighter);
}

a:hover {
  opacity: 0.6;
  cursor: pointer;
}

#logo {
  font-family: var(--font-tondu);
  font-size: 3rem;
  color: var(--third-color-darker);
  border-radius: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  background-color: var(--second-color-lighter);
}
