.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 3px solid red;
  font-family: var(--font-rounded-elegance);
}

.boardNameEnter {
  font-size: 1.8rem;
  height: 2rem;
  min-width: 200px;
  margin: 2rem;
  text-decoration: none;
  background: transparent;
  border: none;
  border-bottom: 2px dashed white;
}
button .plusButton {
  background-color: blue;
  border: 2px solid secondColorLighter;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}
