.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font-rounded-elegance);
}
.logoHome {
  font-size: 3rem;
}
.boardNameEnter {
  font-size: 1.8rem;
  height: 2rem;
  min-width: 200px;
  margin: 2rem;
  text-decoration: none;
  background: transparent;
  border: none;
  border-bottom: 2px dashed white;
  color: hsl(0, 0%, 100%);
  padding: 1rem 0.5rem 1.5rem 0.5rem;
}
.boardNameEnter:focus {
  border: 2px solid hsl(249, 64%, 56%);
}
.plusButtonHome {
  border-color: hsl(249, 64%, 56%);
  color: hsl(249, 64%, 56%);
  background-color: hsl(64, 82%, 72%);
}
.plusButtonHome:hover {
  border: hsl(64, 82%, 72%);
  color: hsl(64, 82%, 72%);
  background-color: hsl(249, 64%, 56%);
}
