@import '/styles/colorsVariables.scss';
.memo {
  width: 15%;
  height: 15vh;
  min-width: 70px;
  margin: 0.7rem;
  margin-top: 0;
  border-radius: 1.5rem;
  font-family: var(--font-rounded-elegance);
  border: 5px solid;
  display: flex;
}

.memoImg button {
  display: flex;
  justify-content: flex-;
  padding: 0.5rem;
  border: none;
}
.memoImg button:hover {
  cursor: pointer;
}

.memoText {
  padding: 0.4rem 0.4rem 0.4rem 1rem;
}
.colour1 textarea,
.colour2 textarea,
.colour3 textarea {
  background-color: transparent;
  color: $light-color-white;
  border: none;
  width: 99%;
  height: 100%;
  resize: vertical;
}

.colour1 {
  border-color: $memo-1;
}
.colour2 {
  border-color: $memo-2;
}

.colour3 {
  border-color: $memo-3;
}
