@import '/styles/colorsVariables.scss';
@import '/styles/globalClasses.scss';
.mainWrapper {
  border: 3px solid $third-color-darker;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100vh;
  max-width: 1250px;
  font-family: var(--font-rounded-elegance);
  /* To fix menu at left size */
  align-items: flex-start;
  margin: 0 auto;
}
.main {
  font-family: var(--font-rounded-elegance);
  font-family: var(--font-rounded-elegance);
  max-width: 750px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoHome {
  @extend .logo;
  font-size: 3rem;
}
